# exclude from docker image
*.md
.github
.dockerignore
.gitignore
.editorconfig
azure-pipelines.yml
azure-pipelines-pr-test.yml
Dockerfile
service/test_fixtures
service/*_test.go
service/*.out
service/*.sh
*.sh
